body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-image: linear-gradient(rgb(78 104 162), rgb(60 89 152));
  display: flex;
  height: 9vh;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.facebook-logo {
  cursor: pointer;
  width: 9%;
}

.facebook-login {
  color: aliceblue;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  width: 21vw;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-button {
  align-self: flex-end;
}

.form-button > button {
  background-color: rgb(69, 103, 172);
  border: 1px solid rgb(49, 70, 119);
  border-radius: 2px;
  color: aliceblue;
  cursor: pointer;
  font-weight: 700;
  padding: 2.5px 5px;
}

.main-content {
  background-image: linear-gradient(white, rgb(211, 216, 232));
  display: flex;
  height: 91vh;
  justify-content: center;
}

.left-content {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 3rem 4rem 0 0;
  width: 25vw;
}

.right-content {
  margin: 1rem 0 0 3rem;
  width: 25vw;
}

.right-content p {
  font-size: 1.2rem;
}

.right-content h1 {
  font-weight: 600;
}

.input-name-lastname {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.input-name-lastname > input {
  width: 45%;
}

.new-user-password-birthdate {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
}

.gender-container {
  display: flex;
  margin-bottom: 0.4rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.other-gender {
  display: none;
  margin: 0.4rem 0;
}

.submit-button {
  background-color: rgb(40, 153, 40);
  border: 1px solid black;
  border-radius: 2px;
  color: aliceblue;
  font-weight: 700;
  margin-top: 1rem;
  outline: none;
  padding: 0.5rem 3rem;
  text-decoration: none;
}

.submit-button:hover {
  background-color: rgb(44, 185, 44);
  border-radius: 6px;
  padding: 0.6rem 3.2rem;
}

.row {
  margin-bottom: 0.8rem;
}
