body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(58, 89, 152);
  display: flex;
  height: 9vh;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.facebook-logo {
  cursor: pointer;
  width: 11%;
}

.facebook-login {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  width: 23vw;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-button {
  align-self: flex-end;
}

.form-button > button {
  background-color: rgb(69, 103, 172);
  border: 1px solid rgb(49, 70, 119);
  border-radius: 2px;
  color: aliceblue;
  cursor: pointer;
  padding: 3px;
}

.main-content {
  background-color: rgb(216, 222, 241);
  display: flex;
  height: 91vh;
  justify-content: center;
  padding: 0 2rem;
}

.left-content {
  font-size: 2rem;
  margin-top: 3rem;
  width: 60vw;
}

.right-content {
  font-size: 1rem;
  margin-top: 3rem;
  width: 40vw;
}

.input-name-lastname {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.input-name-lastname > input {
  width: 45%;
}

.new-user-password-birthdate {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
}

.gender-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.other-gender {
  margin: 0.4rem 0;
  display: none;
}
